<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>V-1</string>
		<key>red</key>
		<string>44</string>
		<key>green</key>
		<string>26</string>
		<key>blue</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>V-2</string>
		<key>red</key>
		<string>63</string>
		<key>green</key>
		<string>40</string>
		<key>blue</key>
		<string>22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>V-3</string>
		<key>red</key>
		<string>72</string>
		<key>green</key>
		<string>47</string>
		<key>blue</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>V-4</string>
		<key>red</key>
		<string>85</string>
		<key>green</key>
		<string>56</string>
		<key>blue</key>
		<string>7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AM-1</string>
		<key>red</key>
		<string>100</string>
		<key>green</key>
		<string>66</string>
		<key>blue</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AM-2</string>
		<key>red</key>
		<string>114</string>
		<key>green</key>
		<string>77</string>
		<key>blue</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AM-4</string>
		<key>red</key>
		<string>129</string>
		<key>green</key>
		<string>88</string>
		<key>blue</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AM-3</string>
		<key>red</key>
		<string>137</string>
		<key>green</key>
		<string>102</string>
		<key>blue</key>
		<string>44</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-1</string>
		<key>red</key>
		<string>188</string>
		<key>green</key>
		<string>139</string>
		<key>blue</key>
		<string>68</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-8</string>
		<key>red</key>
		<string>210</string>
		<key>green</key>
		<string>170</string>
		<key>blue</key>
		<string>116</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-7</string>
		<key>red</key>
		<string>218</string>
		<key>green</key>
		<string>184</string>
		<key>blue</key>
		<string>140</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-6</string>
		<key>red</key>
		<string>228</string>
		<key>green</key>
		<string>204</string>
		<key>blue</key>
		<string>172</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-3</string>
		<key>red</key>
		<string>243</string>
		<key>green</key>
		<string>218</string>
		<key>blue</key>
		<string>189</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-2</string>
		<key>red</key>
		<string>243</string>
		<key>green</key>
		<string>223</string>
		<key>blue</key>
		<string>205</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A-0</string>
		<key>red</key>
		<string>243</string>
		<key>green</key>
		<string>229</string>
		<key>blue</key>
		<string>221</string>
	</dict>
</array>
</plist>
